$enable-caret: true;
$red: #F00018;
$blue: #174259;
$primary: $red;
$secondary: $blue;
$yellow: #ebd645;
$orange: #f7971f;
$green: #83d400;
$black:#181818;
$body-bg: #2B3036;
$white: #fff;
$body-color: $white;
$input-bg: rgba(255,255,255,.1);
$input-color: $white;
$input-border-color: rgba(255,255,255,.25);
$input-group-addon-bg: $input-bg;
$pink: #ff7190;
$danger: $black;
$nav-link-padding-x: 1rem;
$pagination-bg: rgba(0,0,0,.25);
$link-color: $white;
$pagination-active-bg: $red;
$pagination-border-width: 0px;
$gray-700: #495057;
$pagination-hover-bg: $gray-700;
$card-border-width: 0px;
$card-bg: rgba(0,0,0,.25);
$list-group-bg: rgba(0,0,0,.25);
$component-active-bg: $red;
$modal-content-bg: #191a27;
$gray-300: #dee2e6;
$modal-content-border-color: $gray-300;
$modal-header-border-width: 0px;
$progress-bg: rgba(0,0,0,.25);
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $yellow;
$breadcrumb-divider-color: $body-color;
$close-color: $white;
$info:#B3001B;
$bg:#383b40;

@import "node_modules/bootstrap/scss/bootstrap";

// Our custom style
p{opacity: 0.7;}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-primary,.primary{
  color: $primary;
}

.h-secondary,.secondary{
  color: $secondary;
}

.material-icons{
  font-size: 1rem;
}

a:hover{
  text-decoration: none;
}

.position-fix{
 position: fixed !important;
}
